.user-display{
    background-color: black;
}
.trends:hover{
    background-color: lightblue;
    filter: brightness(121%);
    border-radius: 5px;
  }

.grayHover:hover{
  background-color:  #ffe8ff  ;
  /* opacity: 0.4; */
}





  .stickyCardab{

    position: -webkit-sticky;
    position: sticky;
  }


  @media screen and (max-width: 700px) {
    div.trendings, div.followSuggest {
      display: none;
    }
  }